apache-airflow==2.10.4
apache-airflow-providers-apache-spark
apache-airflow-providers-ssh
apache-airflow-providers-postgres
scikit-learn
numpy
pandas
pyspark==4.0.2
psycopg2-binary
requests
kafka-python-ng